# SOEN 6611 - Step 5 - Implementation of Measurement Process

### Business Goal
Improve quality of big data for machine learning model.

### Machine Learning Goal
The goal of the machine learning model is to predict whether a particular individual is at high/low credit risk.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Collection

Out dataset is a credit card dataset containing details of individuals like age, income etc. and a target value stating whether the particular individual is at high or low credit risk. The data is coleected in a form of CSV file and is loaded into the memory using the pandas library. 

#### Assumption
We are considering this file as a single dataset split into three time frames T1, T2 and T3.<br>
$Nds$ = number of datasets = 1

Source: https://www.kaggle.com/datasets/samuelcortinhas/credit-card-classification-clean-data

In [2]:
#import data into dataframe

df = pd.read_csv('data_manipulated.csv')

#split data frame into three parts assuming each part is a separate time frame

df_t1 = df.iloc[:4000]
df_t2 = df.iloc[4000:7000]
df_t3 = df.iloc[7000:]

print('Count:', df_t1.shape[0])
print('Count:', df_t2.shape[0])
print('Count:', df_t3.shape[0])

Count: 4000
Count: 3000
Count: 2828

### Global Variables

num_request - number of requests to database. 
<br>
num_successful_request - number of successful requests to database. <br>
**It is assumed that dataframe is equivalent to database and each call to dataframe is considered as request. If the call does not return any error then num_successful_requests is incremented.**

In [79]:
num_request = 0
num_successful_request = 0

### Base Measure Function

In [4]:
# Method : recCount(df_list) : method to calculate total number of records in multiple datasets <br>
# Param : df_list : list of multiple dataframes 
# Return : Integer : returns total number of records in multiple datasets
def recCount(df_list):
    global num_request
    global num_successful_request
    num_records = 0
    for i in df_list:
        num_request += 1
        num_records += i.shape[0]
        num_successful_request += 1
    
    return num_records

## Big Data Quality Indicators
### Veracity

Veracity refers to the degree that data is accurate, trusted and precise. It is not only the accuracy of the data itself but the trustworthiness of the data source, type, and processing of it.
<br>
$Veracity = W_{acc} * Accuracy + W_{comp} * Completeness + W_{curr} * Currentness + W_{avail} * Availability$

Derived Measures:
- Accuracy
- Completeness
- Currentness
- Availability

#### Accuracy
Degree to which data has attributes that correctly represent the true value of the intended attribute of a concept or event in a specific context of use.
<br><br>
$H_{acc} = log_2(Lbd) - (1/Lbd) * \sum{p_j * log_2(p_j)}$ <br>
$H_{max} = log_2(Lbd)$ <br>
$Accuracy = H_{acc} / H_{max}$ <br>

$Lbd$ : number of records in dataset <br>
$p_j$ : total number of duplicate records in dataset <br>
$H_{acc}$ : entropy of multiple datasets

#### Completeness
Degree to which subject data associated with an entity has values for all expected attributes and related entity instances in a specific context of use.
<br><br>
$Com_m(MDS) = \frac{rec\_no\_null(MDS)}{Lbd(MDS)}$

$Rec\_no\_null (MDS)$ : Frequency of records (in MDS) with no null values<br>
$Lbd$ : number of records in dataset <br>

#### Currentness
Degree to which data has attributes that are of the right age in a specific context of use. 
<br><br>
$Currentness(MDS) = \frac{rec\_acc\_age(MDS)}{Lbd(MDS)}$

$Rec\_acc\_age(MDS)$ : Provides the total number of records with ages that fall within the acceptable range based on the upper and lower quartiles of the Box and Whisker. <br>
$Lbd(MDS)$ : Total Number of records in MDS

#### Availability
Degree to which data has attributes that enable it to be retrieved by authorized users and/or applications in a specific context of use. 
<br><br>
$Availability(MDS) = \frac{N\_succ\_req (MDS)}{N\_req (MDS)} $

$N\_succ\_req (MDS)$ : Number of successful requests (from an API, server, datastore, origins of data, etc) <br>
$N\_req (MDS)$ : Number of requests

In [5]:
#Accuracy
def getAccuracy(df_list):
    num_records = recCount(df_list)
    global num_request
    global num_successful_request
    sum=0
    for i in df_list:
        num_request += 1
        if i.duplicated().sum() != 0:
            sum += (i.duplicated().sum() * np.log2(i.duplicated().sum()))
        num_successful_request += 1
    
    
    Hacc = np.log2(num_records) - (1/num_records) * sum
    Hmax = np.log2(num_records)
    
    return (Hacc / Hmax) 

#Completeness
def getCompleteness(df_list):
    num_records = recCount(df_list)
    global num_request
    global num_successful_request
    rec_null=0
    for i in df_list:
        num_request += 1
        rec_null += i.isnull().any(axis=1).sum()
        num_successful_request += 1
    
    return ((num_records - rec_null) / num_records)
    

#Currentness
def getCurrentness(df_list):
    num_records = recCount(df_list)
    
    #converting string date to pandas Date type
    combine_df = pd.concat([df_t1,df_t2,df_t3])
    combine_df = combine_df.dropna(subset=['Date'])
    combine_df['Date'] = pd.to_datetime(combine_df['Date'], format='%m/%d/%Y')
    combine_df = combine_df.sort_values(by='Date')
    
    #performing box and whisker analysis on Date column
    n = combine_df.shape[0]
    lower = np.ceil((n+1)/4).astype('int64')-1
    higher = np.ceil((3/4) *(n+1)).astype('int64')-1
    date_lower = combine_df.iloc[lower]['Date']
    date_higher = combine_df.iloc[higher]['Date']
    count = combine_df.loc[combine_df['Date'].between(date_lower,date_higher,inclusive='both')].shape[0]
    
    return count / num_records

#Availability
def getAvailability():
    return num_successful_request / num_request

#Veracity
def getVeracity(df_list, w_acc=1/4, w_comp=1/4, w_curr=1/4 ,w_avail = 1/4):
    
    if((w_acc + w_comp + w_curr + w_avail) > 1):
        print("Sum of weights is greater than one")
        return
    
    return (w_acc * getAccuracy(df_list)) + (w_comp * getCompleteness(df_list)) + (w_curr * getCurrentness(df_list)) + (w_avail * getAvailability())

In [61]:
df_t1.head(5)

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,...,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type,Target,Date
0,5008804,1.0,1.0,1.0,1.0,0.0,0.0,0,0.0,2.0,...,427500.0,32.868574,12.435574,Working,Higher education,Civil marriage,Rented apartment,Other,1.0,12/31/2011
1,5008806,1.0,1.0,1.0,0.0,0.0,0.0,0,0.0,2.0,...,112500.0,58.793815,3.104787,Working,Secondary / secondary special,Married,House / apartment,Security staff,0.0,3/28/2012
2,5008808,0.0,0.0,1.0,0.0,1.0,1.0,0,0.0,1.0,...,270000.0,52.321403,8.353354,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,Sales staff,0.0,10/11/2012
3,5008812,0.0,0.0,1.0,0.0,0.0,0.0,1,0.0,1.0,...,283500.0,61.504343,0.000000,Pensioner,Higher education,Separated,House / apartment,Other,0.0,9/20/2013
4,5008815,1.0,1.0,1.0,1.0,1.0,1.0,0,0.0,2.0,...,270000.0,46.193967,2.105450,Working,Higher education,Married,House / apartment,Accountants,0.0,10/15/2015

### Vincularity

### Validity

In [93]:
# Validate String date format
# Using dateutil.parser.parse
from dateutil import parser

def isValidDate(test_str):
    # initializing format
    format = "%d/%m/%Y"
    # checking if format matches the date
    res = True
    # using try-except to check for truth value
    try:
        res = bool(parser.parse(test_str))
    except ValueError:
        res = False
    return res

def isCompliant(row):
    gender_comp =  row.Gender != '' and row.Gender == 0 or row.Gender == 1
    car_comp = row.Own_car != '' and row.Own_car == 0 or row.Own_car == 1
    property_comp = row.Own_property != '' and row.Own_property == 0 or row.Own_property == 1
    work_phone_comp = row.Work_phone != '' and row.Work_phone == 0 or row.Work_phone == 1
    phone_comp = row.Phone != '' and row.Phone == 0 or row.Phone == 1
    email_comp = row.Email != '' and row.Email == 0 or row.Email == 1 
    unemployed_comp = row.Unemployed != '' and row.Unemployed == '0' or row.Unemployed == '1'
    children_comp = row.Num_children != '' and row.Num_children >= 0
    family_comp = row.Num_family != '' and row.Num_family >= 0
    account_comp = row.Account_length != '' and row.Account_length >= 0
    income_comp = row.Total_income != '' and row.Total_income >= 0
    age_comp = row.Age != '' and row.Age >= 0
    years_comp = row.Years_employed != '' and row.Years_employed >= 0
    income_type_comp = isinstance(row.Income_type, str) and row.Income_type != '' and len(row.Income_type) >= 0
    education_type_comp = isinstance(row.Education_type, str) and row.Education_type != '' and len(row.Education_type) >= 0
    fam_status_comp = isinstance(row.Family_status, str) and row.Family_status != '' and len(row.Family_status) >= 0
    housing_type_comp = isinstance(row.Housing_type, str) and row.Housing_type != '' and len(row.Housing_type) >= 0
    occ_type_comp = isinstance(row.Occupation_type, str) and row.Occupation_type != '' and len(row.Occupation_type) >= 0
    target_comp = row.Target != '' and row.Target == 0 or row.Target == 1 
    date_comp = row.Date != '' and isValidDate(str(row.Date))
    
    if gender_comp and car_comp and property_comp and work_phone_comp and phone_comp and email_comp and unemployed_comp\
        and children_comp and family_comp and account_comp and income_comp and age_comp and years_comp and income_type_comp\
        and education_type_comp and fam_status_comp and housing_type_comp and occ_type_comp and target_comp and date_comp:
        return True
    else:
        return False
    

# Compliance
def getCompliance(df_list):
    # total number of datasets
    nds_df_list = len(df_list)
    sum_mds_comp = 0
    
    for df in df_list:
        num_comp_rec = 0
        for row in df.itertuples(index=False):
            if isCompliant(row):
                num_comp_rec += 1
        total_rec = df.shape[0]
        df_comp = num_comp_rec/total_rec
        sum_mds_comp += df_comp
    
    mds_compliance = sum_mds_comp/nds_df_list
    print("Compliance: ", mds_compliance)
    return mds_compliance

# Credability
def getCredability(df_list):
    # total number of datasets
    nds_df_list = len(df_list)
    num_cred_dataset = 0
    
    for i in df_list:
        num_cred_dataset += 1
    
    mds_credability = num_cred_dataset/num_cred_dataset
    print("Credability: ", mds_credability)
    return mds_credability

# Validity
def getValidity(credability, cred_weight, compliance, comp_weight):
    ver = credability*cred_weight + compliance*comp_weight
    return ver

In [78]:
df_t1.dtypes

ID                   int64
Gender             float64
Own_car            float64
Own_property       float64
Work_phone         float64
Phone              float64
Email              float64
Unemployed          object
Num_children       float64
Num_family         float64
Account_length     float64
Total_income       float64
Age                float64
Years_employed     float64
Income_type         object
Education_type      object
Family_status       object
Housing_type        object
Occupation_type     object
Target             float64
Date                object
dtype: object

In [94]:
# Validity for Time frame 1
print("Validity for Time frame 1: ", getValidity(getCompliance([df_t1]), 0.5, getCredability([df_t1]), 0.5))

# Validity for Time frame 2
print("Validity for Time frame 2: ", getValidity(getCompliance([df_t1, df_t2]), 0.5, getCredability([df_t1, df_t2]), 0.5))

# Validity for Time frame 3
print("Validity for Time frame 3: ", getValidity(getCompliance([df_t1, df_t2, df_t3]), 0.5, getCredability([df_t1, df_t2, df_t3]), 0.5))

Compliance:  0.991
Credability:  1.0
Validity for Time frame 1:  0.9955
Compliance:  0.9895
Credability:  1.0
Validity for Time frame 2:  0.99475
Compliance:  0.993
Credability:  1.0
Validity for Time frame 3:  0.9964999999999999

### Measuring Indicators before processing

In [8]:
#Veracity
accuracy = getAccuracy([df_t1,df_t2,df_t3])
completeness = getCompleteness([df_t1,df_t2,df_t3])
currentness = getCurrentness([df_t1,df_t2,df_t3])
availability = getAvailability()
veracity = getVeracity([df_t1,df_t2,df_t3])

print('Accuracy:',accuracy)
print('Completeness:',completeness)
print('Currentness:',currentness)
print('Availability:',availability)
print('Veracity:',veracity)

Accuracy: 0.9997080550774292
Completeness: 0.9930809930809931
Currentness: 0.4994912494912495
Availability: 1.0
Veracity: 0.8730700744124179

In [ ]:
#Vincularity

In [ ]:
#Validity

### Analyzing Data

In [25]:
# checking for null values
df.isna().sum()

ID                  0
Gender             16
Own_car            16
Own_property       16
Work_phone         44
Phone              20
Email              16
Unemployed         16
Num_children       16
Num_family         44
Account_length     16
Total_income       16
Age                16
Years_employed     16
Income_type        16
Education_type     16
Family_status      16
Housing_type       16
Occupation_type    16
Target             16
Date               16
dtype: int64

There are null values in all the columns except ID and these rows with null values needs to be removed as part of cleaning the dataset.

In [68]:
#checking duplicate records
df.duplicated().sum()

11

There are 11 duplicate rows which needs to be removed.

In [79]:
# checking for gender, own_car, own_property, work_phone, phone, email, unemployed and Target columns not having values 1 or 0
count_gender = (~df['Gender'].isna() & ~df['Gender'].isin([1,0])).sum()
count_car = (~df['Own_car'].isna() & ~df['Own_car'].isin([1,0])).sum()
count_property = (~df['Own_property'].isna() & ~df['Own_property'].isin([1,0])).sum()
count_work_phone = (~df['Work_phone'].isna() & ~df['Work_phone'].isin([1,0])).sum()
count_phone = (~df['Phone'].isna() & ~df['Phone'].isin([1,0])).sum()
count_email = (~df['Email'].isna() & ~df['Email'].isin([1,0])).sum()
count_unemployed = (~df['Unemployed'].isna() & ~df['Unemployed'].isin(['1','0'])).sum()
count_target = (~df['Target'].isna() & ~df['Target'].isin([1,0])).sum()

print('Non Numeric Values Gender:', count_gender)
print('Non Numeric Values Car:', count_car)
print('Non Numeric Values Property:', count_property)
print('Non Numeric Values Work Phone:', count_work_phone)
print('Non Numeric Values Phone:', count_phone)
print('Non Numeric Values Email:', count_email)
print('Non Numeric Values Unemployed:', count_unemployed)
print('Non Numeric Values Target:', count_target)

Non Numeric Values Gender: 0
Non Numeric Values Car: 0
Non Numeric Values Property: 0
Non Numeric Values Work Phone: 0
Non Numeric Values Phone: 32
Non Numeric Values Email: 0
Non Numeric Values Unemployed: 56
Non Numeric Values Target: 52

### Data Processing

In [23]:
def preprocess(df):
    
    #remove rows with atleast 1 null value
    df = df.dropna()
    
    return df

#Function call
df_t1_processed = preprocess(df_t1)
df_t2_processed = preprocess(df_t2)
df_t3_processed = preprocess(df_t3)

print('Count:', df_t1_processed.shape[0])
print('Count:', df_t2_processed.shape[0])
print('Count:', df_t3_processed.shape[0])

Count: 3966
Count: 2966
Count: 2828

### Measuring Indicators after processing

### Visualizing and Interpreting Indicators